<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>basculasc-001-site2.etempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5084.site4now.net:8172/MsDeploy.axd?site=basculasc-001-site2</MSDeployServiceURL>
    <DeployIisAppPath>basculasc-001-site2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>basculasc-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5107.site4now.net;Initial Catalog=db_a72530_bdbac;User ID=db_a72530_bdbac_admin;Password=Sistemas2022#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Proyecto.Models.ApplicationDbContext, Proyecto" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="cnxBAC" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5107.site4now.net;Initial Catalog=db_a72530_bdbac;User ID=db_a72530_bdbac_admin;Password=Sistemas2022#" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5107.site4now.net;Initial Catalog=db_a72530_bdbac;User ID=db_a72530_bdbac_admin;Password=Sistemas2022#" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\cnxBAC_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5107.site4now.net;Initial Catalog=db_a72530_bdbac;User Id=db_a72530_bdbac_admin;Password=Sistemas2022#" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cnxBAC-Web.config Connection String">
      <ParameterValue>Data Source=SQL5107.site4now.net;Initial Catalog=db_a72530_bdbac;User ID=db_a72530_bdbac_admin;Password=Sistemas2022#</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5107.site4now.net;Initial Catalog=db_a72530_bdbac;User ID=db_a72530_bdbac_admin;Password=Sistemas2022#</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>